.solution_container {
  width: 100%;
  background-color: #0b0b0b;
  // height: 100vh;
  margin-top: -2%;
  div {
    max-width: 100%;
  }
  &__header {
    margin-top: 0;
    position: relative;
    top: -12vh;
    margin-bottom: 0vh;
    position: relative;
    // left: 35%;
    font-size: 20vh;
    font-family: "Museo";
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(92.05deg, #2dea40 3.12%, #bfff37 81.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
  }
  &__list {
    width: 80%;
    // margin-left: 37%;
  }
  &__text {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6vh;
    // margin-left: 4em;
    span {
      min-width: 581px;
      max-height: 712px;
      //   min-height: 621px;
    }
  }
  &__image{
    margin: 5vh;
    width: 55%;
    height: 720px;
    background: url(../assets/three.png);
    background-repeat: no-repeat;
  }
}
@media (max-width: 1200px) {
  .solution_container{
    &__image{
      display: none !important;
      width: 0;
    }
    &__text>span {
      display: none !important;
      width: 0;
    }
  }
}
.item_list {
  margin-top: 2em;
  &__title {
    color: #fff;
    font-family: "Museo";
    font-style: normal;
    font-size: 3vh;
    font-weight: 600;
    line-height: 4.3vh;
    letter-spacing: 0.1vh;
    text-align: left;
    margin-bottom: 5.5vh;
  }
  &__element_additional {
    color: #acacac;
    font-family: Courier New;
    font-size: 1.5vh;
    font-weight: 700;
    line-height: 1.8vh;
    letter-spacing: 0em;
    text-align: left;
  }
  &__list {
    margin-bottom: 8vh;
    // margin-left: 0;
    padding-left: 0;
    color: #fff;
    li::marker {
      display: none;
      color: transparent;
    }
    li {
      div {
        margin-left: 0.2em;
      }
      display: flex;
      margin-bottom: 1em;
      font-family: Courier New;
      font-size: 2.2vh;
      font-weight: 700;
      line-height: 2vh;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
